
<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset = “UTF-8>           
        <title> About </title>

    </head>

    <body>
        <div class=textos>
        <br>
        <br>
            <h1> About us </h1>
            <h3> Get to know more about us, the creators of Tw<b>Y</b>tter. </h3>
            <p> We are a group of Civil Engineering students from the University of Los Andes, 
            who revolutionized the social media industry by creating a TwiYtter for young people </p>
        </div>
    </body>

</html> 