<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset = “UTF-8>           
        <title> Home </title>

    </head>

    <body>
        <div class=textos>
            <br>
            <br>
            <br>
            <h1>  Y </h1>

            <h3> The <b> Y </b> of <b> Y</b>our L<b>Y</b>fe </h3>
            <h4> Home Page </h4>
            </div>
    </body>

</html> 